<div >
<h3><%=link_to " Create new timesheet",new_timesheet_path%></h3>
<table>
	<tr>
		<th colspan="1">Sr no</th>
		<th colspan="1">Timesheet name</th>
		<th colspan="1">timesheet date</th>
		<th colspan="1">timesheet for</th>
		<th colspan="1">User Mail</th>
		<th colspan="5">Action</th>
	</tr>
	<tbody>
		<% @timesheets.each_with_index do |time,index|%>
		<tr>
			<td><%= index+1 %></td>
			<td><%=time.time_name%></td>
			<td><%=time.time_date%></td>
			<td><%=time.time_for%></td>
			<td><%=time.user.email%></td>
			<td>
				<%=link_to "Show", timesheet_path(time)%>
				<%=link_to "edit", edit_timesheet_path(time)%>
				<%=link_to "delete", timesheet_path(time),method: :delete,data:{confirm: "are you sure"}%>

			</td>

		</tr>
		<%end%>
	</tbody>
</table>
</div>